body {
    background-color: #181818;
    color: white;
}

.header {
    background-color: #191919;
}

.text-dark {
    color: white!important;
}

.theme-dark {
    background-color: #202020;
    height: 100%;
}

.drop-content {
    background-color: #202020;
    border-color: #181818;
}

.modal-content {
    background-color: #202020;
    border: 1px solid #323232;
}

.btn-cancel {
    background-color: #3e3e3e;
    color: white;
    transition: 150ms;
}

.btn-cancel:hover {
    background-color: #282828;
    color: white;
}

.user-prof {
    color: white;
}

.user-prof:hover {
    color: rgb(228, 228, 228);
    text-decoration: underline;
}

.posts-list-content {
    background-color: #262626;
}

.primary-dark {
    background-color: #202020;
}

.secondary-dark {
    background-color: #262626;
}

.card {
    border: 0px;
}

.btn-edit {
    color: white;
}

.line::after {
    background: white!important;
}

.line2::after {
    background: white!important;
}

.line3::after {
    background: white!important;
}

.login {
    padding: 1rem;
}

.login label {
    background-color: #181818!important;
}

.login label:hover {
    background-color: #202020!important;
}

.login .lbl {
    background-color: #202020!important;
}

.login .lbl:hover {
    background-color: #222222!important;
}

.login textarea {
    color: white;
    background-color: #202020;
}

.login textarea:hover {
    background-color: #222222;
}

.descrip {
    min-width: 232px;
    max-width: 232px;
}