body {
    background-color: #181818;
    color: white;
}

.header {
    background-color: #191919;
}

.text-dark {
    color: white!important;
}

.theme-dark {
    background-color: #202020;
    height: 100%;
}

.drop-content {
    background-color: #202020;
    border-color: #181818;
}

.modal-content {
    background-color: #202020;
    border: 1px solid #323232;
}

.btn-cancel {
    background-color: #3e3e3e;
    color: white;
    transition: 150ms;
}

.btn-cancel:hover {
    background-color: #282828;
    color: white;
}