.col-sm-8 {
    max-width: 100%;
}

.padding-20 {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.user-pic {
    margin-top: 1.5rem;
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

.posts-list-content {
    margin-top: 2rem;
    min-height: 49vh;
    padding: 1rem;
    min-width: 720px;
    max-width: 720px;
    margin: auto;
}

.div-center {
    margin: 0 auto;
}

.d-flex-center {
    display: flex;
    align-items: center;
}

.post {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 300px;
    height: 500px;
    border-radius: 0.25rem;
}

.div-content {
    min-height: 45vh;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

.desc {
    margin-top: 0.5rem;
}

.space-between {
    justify-content: space-between;
}

.div-ul {
    margin: 0 auto;
    width: 120px;
}

.div-ul ul li {
    cursor: pointer;
}

.line::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: relative;
    bottom: 0;
    left: 0;
}

.line2::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: relative;
    bottom: 0;
    right: 0;
    animation-name: displace;
    animation-duration: 600ms;
}

@keyframes displace {
    0% {
        width: 183%;
        right: 83px;
    }
    100% {
        right: 0;
    }
}

.line3::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: relative;
    bottom: 0;
    left: 0;
    animation-name: displace-left;
    animation-duration: 600ms;
}

@keyframes displace-left {
    0% {
        width: 56%;
        left: 83px;
    }
    100% {
        left: 0;
    }
}

.marginb-2 {
    margin-bottom: 2rem;
}

.top-right {
    position: absolute;
    right: 21.5rem;
}